[submodule "api"]
		path = api
		url = git@github.com:JungleTree/jungletree-api.git
		branch = master
[submodule "jms"]
		path = jms
		url = git@github.com:JungleTree/jungletree-jms.git
		branch = master
[submodule "events"]
		path = events
		url = git@github.com:JungleTree/jungletree-events.git
		branch = master
[submodule "network"]
		path = network
		url = git@github.com:JungleTree/jungletree-network.git
		branch = master
[submodule "storage"]
		path = storage
		url = git@github.com:JungleTree/jungletree-storage.git
		branch = master
